*{
    box-sizing: border-box;
}
header{
  color:white;
  text-align:center;
  background-color:#0077b6;
  padding:12px;
}
body{
  background-color:#ACD6FF;
}
.slogan{
   text-align:center;
  text-decoration:underline;
   font-weight:bold;
  font-style:italic;
   font-family:微軟正黑體;  
}
.title{
   text-align:center;
  font-size:36px:
  font-family:微軟正黑體; 
}
.title1{
   text-align:center;
  font-weight:bold;
  font-size:28px:
  font-family:微軟正黑體; 
}
nav{
    text-align:center;
    font-family:微軟正黑體;
     padding: 10px;
    background-color:#84C1FF; 
    color: white; 
}
nav a{
    padding: 10px;
    display: inline-block;
}
nav a:hover{
    background-color:#0099CC;
    color: white;
}
section{
  background-color: white;
border-radius: 15px;
 padding: 10px; 
}

.card{
  padding: 20px;
  margin: 20px;
  background-size: cover;
  border-radius: 25px;
}
.left{
 float: left;
  width: 40%;
margin: 10px;
}

.right{
  float: right;
 width: 58%;
padding: 12px; 
}
.progress-bar-container {
  width:100%;
  border-radius: 10px;
  /*background-color: #f3f3f3;
  overflow: hidden;*/
  
}

.progress-bar {
  height: 30px;
  background-color: #4caf50;
  text-align: center;
  line-height: 30px;
  color: white;
  border-radius: 5px 0 0 5px;
}

footer{
  padding: 10px;
   text-align:center;
  background-color: #0096c7;
  color:white;
}

.clearfix{
    clear: both;
}
