header{
  color:green;
  text-align:center;
}
body{
  background-color:#99CCFF;
}
.slogan{
   text-align:center;
  text-decoration:underline;
   font-weight:bold;
  font-style:italic;
   font-family:微軟正黑體;
  
  
}
nav{
    padding: 10px;
    display: inline-block;
    font-family: Arial;
    background-color:#66CCFF;
    text-align:center;
}
nav a:hover{
    background-color: #cda8b8;
    color: white;
}
footer{
   text-align:center;
}
