*{
    box-sizing: border-box;
}
header{
  color:white;
  text-align:center;
  background-color:#0077b6;
  padding:12px;
  border-radius: 20px;
  margin: 20px;
}
body{
  background-color:#ACD6FF;
}
.slogan{
   text-align:center;
  text-decoration:underline;
   font-weight:bold;
  font-style:italic;
   font-family:微軟正黑體;  
}
.title{
   text-align:center;
  font-size:24px;
  font-family:微軟正黑體; 
}
.title1{
   text-align:center;
  font-weight:bold;
  font-size:20px;
  font-family:微軟正黑體; 
}
nav{
    text-align:center;
    font-family:微軟正黑體;
     padding: 10px;
    background-color:#84C1FF; 
    color: white; 
    border-radius: 20px;
     margin: 20px;
}
nav a{
    padding: 10px;
    display: inline-block;
}
nav a:hover{
    background-color:#0099CC;
    color: white;
}
section{
  background-color: white;
border-radius: 15px;
 padding: 10px; 
}

.card{
  padding: 20px;
  margin: 20px;
  background-size: cover;
  border-radius: 25px;
}
.left{
 float: left;
  width: 48.5%;
 padding: 10px;
  margin: 12px;
  background-size: cover;
  border-radius: 20px;

}

.right{
  float: right;
  width:48%;
  padding: 10px;
  margin: 12px;
  background-size: cover;
  border-radius: 20px;
  right:12px;    
  top: 1050px;
}
.right1{
  float: right;
  width:48%;
  padding: 10px;
  margin: 12px;
  background-size: cover;
  border-radius: 20px;
    position: absolute;
    right:12px;    
    top: 805px;      
}

footer{
  padding: 10px;
  text-align:center;
  background-color: #0096c7;
  color:white;
  border-radius: 20px;
    position: fix;    
    bottom: 0px;    
}

.progress-bar {
    width: 100%;
    height: 30px;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
  }
  .segment-a {
    background-color: #4caf50 ; 
    text-align:center;
    font-family:Arial;
    font-size:18px;
  }
  
  .segment-b {
    background-color: #E0E0E0 ; 
  }

.clearfix{
    clear: both;
}
