header{
  color:white;
  text-align:center;
   background-color:#0077b6;
}
body{
  background-color: white;
}
.inform{
  text-align:right;
  font-weight:bold;
  font-family:微軟正黑體;
}
.slogan{
   text-align:center;
  text-decoration:underline;
   font-weight:bold;
  font-style:italic;
   font-family:微軟正黑體;  
}
.title{
   text-align:center;
  font-family:微軟正黑體; 
}
nav{
    text-align:center;
    font-family:微軟正黑體;
     padding: 10px;
    background-color:#0077b6f;
    color: white; 
}
nav a:hover{
    background-color:#0099CC;
    color: white;
}

footer{
  padding: 10px;
   text-align:center;
  background-color: #0096c7;
  color:white;
}
