header{
  color:green;
  text-align:center;
}
body{
  background-color:#99CCFF;
}
.slogan{
   text-align:center;
  text-decoration:underline;
   font-weight:bold;
  font-style:italic;
   font-family:微軟正黑體;
  
  
}
nav{
    text-align:center;
    font-family:微軟正黑體;
     padding: 10px;
    
    background-color:#6699CC;
  
  
}
nav a:hover{
    background-color: #CCFFFF;
    color: white;
}
footer{
  padding: 10px;
   text-align:center;
  background-color: #6699CC;
  color:white;
}
