*{
    box-sizing: border-box;
}
header{
  color:white;
  text-align:center;
  background-color:#0077b6;
  border-radius: 15px;
  margin: 20px;
    padding:3px;
 font-family: "LXGW WenKai Mono TC", monospace;
}
body{
  background-color:#ACD6FF;
}
.slogan{
   text-align:center;
  text-decoration:underline;
   font-weight:bold;
  font-style:italic;
   font-family:微軟正黑體;
    font-size:20px;
}
.title{
   text-align:center;
    font-weight:bold;
  font-size:20px;
  font-family: "Crete Round", serif;
}
.title1{
   text-align:center;
  font-weight:bold;
  font-size:18px;
  font-family: "Crete Round", serif;
}
nav{
    text-align:center;
    font-family: "Bree Serif", serif;
    font-size:28px
     padding: 15px;
    background-color:#84C1FF; 
    color: white; 
    border-radius: 20px;
     margin: 20px;
}
nav a{
    padding:15px;
    display: inline-block;
}
nav a:hover{
    background-color:#0099CC;
    color: white;
}
section{
  background-color: white;
border-radius: 15px;
 padding: 10px; 
}

.card{
  padding: 20px;
  margin: 20px;
  background-size: cover;
  border-radius: 25px;
}
.left{
 float: left;
  width: 47.5%;
 padding: 10px;
  margin: 12px;
  background-size: cover;
  border-radius: 20px;

}

.right{
  float: right;
  width:47.5%;
  padding: 10px;
  margin: 12px;
  background-size: cover;
  border-radius: 20px;
position: absolute;
  right:12px;    
  top: 750px;
}
.right1{
  float: right;
  width:47.5%;
  padding: 10px;
  margin: 12px;
  background-size: cover;
  border-radius: 20px;
position: absolute;
  right:12px;    
  top: 900px;
}
footer{
  padding: 10px;
  text-align:center;
  background-color: #0096c7;
  color:white;
  border-radius: 20px;
    position:fix;
    bottom: 1px; 
    right:12px;
}

.progress-bar {
    width: 100%;
    height: 30px;
    border-radius: 25px;
    overflow: hidden;
    display: flex;
  }
  .segment-a {
    background-color: #4caf50 ; 
    text-align:center;
    font-family: "LXGW WenKai Mono TC", monospace;
    font-size:18px;
  }
  .segment-b {
    background-color: #E0E0E0 ; 
  }

.clearfix{
    clear: both;
}
.font {
  font-family: "LXGW WenKai Mono TC", monospace;
  font-weight: 400;
  font-style: normal;
}
 .image-container {
      text-align: center;
    }
.image-container img {
      display: inline-block;
      margin: 0 10px;
      width: 120px;
      height: auto;
    border-radius: 10%;
    }
