header{
  color:green;
  text-align:center;
}
body{
  background-color:#99CCFF;
}
nav{
    padding: 10px;
    display: inline-block;
    font-family: Arial;
    background-color:#66CCFF;
    text-align:center;
  
}
footer{
   text-align:center;
}
