header{
  color:white;
  text-align:center;
  background-color:#0077b6;
  padding:12px;
}
body{
  background-color:#ACD6FF;
}
.inform{
  text-align:right;
  font-weight:bold;
  font-family:微軟正黑體;
}
.slogan{
   text-align:center;
  text-decoration:underline;
   font-weight:bold;
  font-style:italic;
   font-family:微軟正黑體;  
}
.title{
   text-align:center;
  font-size:36px:
  font-family:微軟正黑體; 
}
.title1{
   text-align:center;
  font-weight:bold;
  font-size:28px:
  font-family:微軟正黑體; 
}
nav{
    text-align:center;
    font-family:微軟正黑體;
     padding: 10px;
    background-color:#0077b6f;
    color: white; 
}
nav a:hover{
    background-color:#0099CC;
    color: white;
}
article{
  background-color: white;
}
.card1{
  padding: 10px;
    margin: 15px 10px;
    background-size: cover;
    border-radius: 15px;
    float: right;
   width: 58%;
}
.card{
  padding: 10px;
    margin: 15px 10px;
    background-size: cover;
    border-radius: 15px;
    float: left;
    width: 40%;
}
.progress-bar-container {
  width: 25%;
  border-radius: 10px;
  /*background-color: #f3f3f3;
  overflow: hidden;*/
  
}

.progress-bar {
  height: 30px;
  background-color: #4caf50;
  text-align: center;
  line-height: 30px;
  color: white;
  border-radius: 5px 0 0 5px;
}

footer{
  padding: 10px;
   text-align:center;
  background-color: #0096c7;
  color:white;
}

